@page "/users/create"
@using Domain
@using Service.Models
@using Service
@inject NavigationManager Navigation
@inject AdminSService AdminService
@inject UserService UserService
@rendermode InteractiveServer

<link href="styles/styleAddUser.css" rel="stylesheet"/>
<div class="login-container">
    <h3 class="login-title">Add User</h3>

    <EditForm Model="_userDto" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <div class="form-group">
            <label for="firstName">First Name</label>
            <InputText id="firstName" class="form-control mt-1" @bind-Value="_userDto.FirstName" required/>
        </div>

        <div class="form-group mt-3">
            <label for="lastName">Last Name</label>
            <InputText id="lastName" class="form-control mt-1" @bind-Value="_userDto.LastName" required/>
        </div>

        <div class="form-group mt-3">
            <label for="email">Email</label>
            <InputText id="email" class="form-control mt-1" @bind-Value="_userDto.Email" required/>
        </div>

        <div class="form-group mt-3">
            <label for="dob">Date of Birth</label>
            <InputDate id="dob" class="form-control mt-1" @bind-Value="_userDto.Birthday" required/>
        </div>

        <div class="form-group mt-3">
            <label for="password">Password</label>
            <div class="input-password-wrapper">
                <InputText id="password"
                           type="@passwordInputType"
                           class="form-control mt-1"
                           @bind-Value="_userDto.Password" required/>
                <button type="button" @onclick="TogglePasswordVisibility" class="input-password-eye">
                    <i class="@passwordEyeIcon"></i>
                </button>
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="confirmPassword">Confirm Password</label>
            <div class="input-password-wrapper">
                <InputText id="confirmPassword"
                           type="@confirmPasswordInputType"
                           class="form-control mt-1"
                           @bind-Value="confirmPassword" required/>
                <button type="button" @onclick="ToggleConfirmPasswordVisibility" class="input-password-eye">
                    <i class="@confirmPasswordEyeIcon"></i>
                </button>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Create User</button>
    </EditForm>

    @if (alertVisible)
    {
        <div class="alert alert-danger mt-3">
            <strong>Error: </strong>@alertMessage
            <button type="button" class="close" @onclick="ToggleAlertVisibility">
                <span>&times;</span>
            </button>
        </div>
    }
</div>

@code {
    private UserDTO _userDto = new UserDTO();
    private string confirmPassword;
    private bool alertVisible = false;
    private string alertMessage = string.Empty;

    private string passwordInputType = "password";
    private string passwordEyeIcon = "fas fa-eye-slash";
    private string confirmPasswordInputType = "password";
    private string confirmPasswordEyeIcon = "fas fa-eye-slash";

    private void TogglePasswordVisibility()
    {
        passwordInputType = passwordInputType == "password" ? "text" : "password";
        passwordEyeIcon = passwordInputType == "text" ? "fas fa-eye" : "fas fa-eye-slash";
    }

    private void ToggleConfirmPasswordVisibility()
    {
        confirmPasswordInputType = confirmPasswordInputType == "password" ? "text" : "password";
        confirmPasswordEyeIcon = confirmPasswordInputType == "text" ? "fas fa-eye" : "fas fa-eye-slash";
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        _userDto = new UserDTO
        {
            FirstName = "",
            LastName = "",
            Email = "",
            Password = "",
            Birthday = DateTime.Now,
            Roles = new List<Rol> { Rol.AdminSystem },
        };
        LoadTestData();
    }


    private void LoadTestData()
    {
        var adminUser = new UserDTO()
        {
            FirstName = "Admin",
            LastName = "User",
            Email = "admin@example.com",
            Password = "AdminPassword123@",
            Roles = new List<Rol> { Rol.AdminSystem }
        };

        var regularUser = new UserDTO()
        {
            FirstName = "John",
            LastName = "Doe",
            Email = "john.doe@example.com",
            Password = "JohnPassword123@",
            Roles = new List<Rol> { Rol.ProjectMember }
        };

        var guestUser = new UserDTO()
        {
            FirstName = "Jane",
            LastName = "Smith",
            Email = "jane.smith@example.com",
            Password = "JanePassword123@",
            Roles = new List<Rol> { Rol.AdminSystem }
        };

        UserService.AddUser(adminUser);
        UserService.AddUser(regularUser);
        UserService.AddUser(guestUser);
    }

    private void HandleValidSubmit()
    {
        try
        {
            if (confirmPassword != _userDto.Password)
            {
                alertMessage = "Password and Confirm Password do not match.";
                alertVisible = true;
                return;
            }

            AdminService.CreateUser(_userDto);
            Navigation.NavigateTo("/users");
        }
        catch (Exception ex)
        {
            alertMessage = $"An error occurred: {ex.Message}";
            alertVisible = true;
        }
    }

    private void ToggleAlertVisibility()
    {
        alertVisible = false;
    }

}
