@page "/resources/create"
@using Service
@using Service.Models
@inject NavigationManager Navigation
@inject ResourceService ResourceService

<link href="styles/styleCreateResource.css" rel="stylesheet"/>

<div class="resource-container">
    <h3 class="resource-title">Create Resource</h3>

    <EditForm Model="@newResource" OnValidSubmit="HandleValidSubmit" FormName="resourceForm">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <div class="form-group">
            <label for="resourceName">Name</label>
            <InputText id="resourceName" class="form-control mt-1" @bind-Value="newResource.Name"/>
            <ValidationMessage For="@(() => newResource.Name)"/>
        </div>

        <div class="form-group mt-3">
            <label for="resourceType">Type</label>
            <InputText id="resourceType" class="form-control mt-1" @bind-Value="newResource.Type"/>
            <ValidationMessage For="@(() => newResource.Type)"/>
        </div>

        <div class="form-group mt-3">
            <label for="resourceDescription">Description</label>
            <InputTextArea id="resourceDescription" class="form-control mt-1" @bind-Value="newResource.Description"/>
            <ValidationMessage For="@(() => newResource.Description)"/>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Create Resource</button>
    </EditForm>

    @if (alertVisible)
    {
        <div class="alert alert-danger mt-3">
            <strong>Error: </strong>@alertMessage
            <button type="button" class="close" @onclick="ToggleAlertVisibility">
                <span>&times;</span>
            </button>
        </div>
    }

    @if (successVisible)
    {
        <div class="alert alert-success mt-3">
            <strong>Success: </strong>@successMessage
            <button type="button" class="close" @onclick="ToggleAlertVisibility">
                <span>&times;</span>
            </button>
        </div>
    }
</div>

@code {
    private ResourceDTO newResource = new ResourceDTO();
    private bool alertVisible = false;
    private string alertMessage = string.Empty;
    private bool successVisible = false;
    private string successMessage = string.Empty;

    protected override void OnInitialized()
    {
        newResource = new ResourceDTO()
        {
            Description = "",
            Name = "",
            Type = ""
        };
    }

    private void HandleValidSubmit()
    {
        try
        {
            ResourceService.AddResource(newResource);
            successMessage = "Resource created successfully!";
            successVisible = true;
            alertVisible = false;
        }
        catch (Exception ex)
        {
            alertMessage = $"An error occurred: {ex.Message}";
            alertVisible = true;
            successVisible = false;
        }
    }
    
    private void ToggleAlertVisibility()
    {
        alertVisible = false;
        successVisible = false;
    }

}