@inherits LayoutComponentBase
<link href="styles/styleLoginRegister.css" rel="stylesheet" />
<div style="text-align: center" >
    <div class="col-8 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-12 row">
            <div class="col-6" style="border-right:groove">
                <img src="/img/taskLogo.webp" width="400px" height="400px" />
            </div>
                @Body
            
        </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
</div>