@inherits LayoutComponentBase

<link href="styles/styleLoginRegister.css" rel="stylesheet"/>
<div class="full-page-center">
    <div class="col-8 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-12 row">
            <div class="col-12 col-md-4 image-container">
                <img src="/img/taskLogo.webp" alt="Task Logo"/>
            </div>
            <div class="col-12 col-md-8">
                @Body
            </div>
        </div>
    </div>
</div>
