@page "/myprojects"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<link href="styles/styleNavMenu.css" rel="stylesheet"/>

<div class="nav-item px-3">
    <button class="btn btn-link nav-link text-start w-100 d-flex justify-content-between align-items-center"
            @onclick="ToggleMyProjects">
        <span>
            <i class="bi bi-clipboard"></i> My Projects
        </span>
        <i class="bi @(showMyProjects ? "bi-chevron-down" : "bi-chevron-right")"></i>
    </button>

    @if (showMyProjects)
    {
        <div class="nav-item mt-1 ms-3">
            <button class="btn btn-link nav-link text-start w-100 d-flex justify-content-between align-items-center"
                    @onclick="ToggleProjectOptions">
                <span>
                    <i class="bi bi-folder"></i> Projects
                </span>
                <i class="bi @(showProjectOptions ? "bi-chevron-down" : "bi-chevron-right")"></i>
            </button>
            @if (showProjectOptions)
            {
                <div class="ms-3">
                    <NavLink class="nav-link" href="/project/tasks">
                        <i class="bi bi-list-check"></i> Tasks
                    </NavLink>

                </div>
            }
        </div>
    }
</div>

@code {
    private bool showMyProjects;
    private bool showProjectOptions;

    private void ToggleMyProjects()
    {
        showMyProjects = !showMyProjects;
    }

    private void ToggleProjectOptions()
    {
        showProjectOptions = !showProjectOptions;
    }

}